// Home

section {
	background-repeat:no-repeat;
	background-position:center top;
	padding-top:40px;
	padding-bottom:40px;
	@include clearfix;
}

.banner {
	color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

