// ABOUT

#about {
	.image,
	.content {
		width:50%;
		display:table-cell;
		vertical-align:top;
		padding:0 15px;}
	.content {
		// padding-top:60px;
		h3 {font-weight:600;margin:0;}
		.info {display:block;margin-bottom:15px;}
	}
}// #about

@media (max-width:$screen-md-max) {
	#about {
		.image,
		.content,
		.experience {width:100%;display:block;}
		.image,
		.content {margin-bottom:40px;}
	}// #about
}
